.App {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 80vh;
  border-color: blue;
  margin: 3rem;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.sidePanel {
  width: 20vw;
  height: 80vh;
  border: 5px solid black;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sidePanelItem {
  width: 17vw;
  height: 20vh;
  border: 3px solid black;
  margin: 1rem;
  padding: 1rem;
}

.directions{
  width: 16vw;
  height: 19vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: transparent;
  border: 2px solid black;
  color: white;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%;
}